<div class="sign-up-card">
  <h2 class="welcome-heading">Welcome to Ambato</h2>
  <div class="card">
    <div class="card-header">
      <h2>Sign up</h2>
    </div>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
      <ng-container *ngFor="let field of formFields">
        <div class="flex-column">
          <label [for]="field.id" class="form-label">{{ field.label }}</label>
          <input
            class="form-input"
            [ngClass]="
              signupForm.get(field.name)?.invalid &&
              signupForm.get(field.name)?.touched
                ? 'red-border'
                : 'normal-border'
            "
            [type]="field.type"
            [id]="field.id"
            [formControlName]="field.name"
          />
          <div
            class="error-div"
            *ngIf="
              signupForm.get(field.name)?.invalid &&
              signupForm.get(field.name)?.touched
            "
          >
            <ng-container *ngIf="signupForm.get(field.name)?.errors">
              <ng-container
                *ngIf="signupForm.get(field.name)?.errors?.['required']; else passwordStrengthError"
              >
                <small class="error-text-styles">{{
                  field.requiredMessage
                }}</small>
              </ng-container>
              <ng-container
                *ngIf="field.name === 'email' && signupForm.get('email')?.errors?.['email']"
              >
                <small class="error-text-styles"
                  >Invalid email address format.</small
                >
              </ng-container>
              <ng-template #passwordStrengthError>
                <ng-container
                  *ngIf="field.name === 'password' && signupForm.get('password')?.errors?.['passwordStrength']"
                >
                  <small class="error-text-styles"
                    >Password must contain uppercase, lowercase, number, special
                    character, and at least 8 characters.</small
                  >
                </ng-container>
              </ng-template>
            </ng-container>
          </div>
        </div>
      </ng-container>

      <div
        class="password-match-error-div"
        *ngIf="!signupForm.get('confirmPassword')?.errors?.['required'] && signupForm.errors?.['passwordsMismatch'] && (signupForm.get('confirmPassword')?.touched || signupForm.get('password')?.touched)"
      >
        <small class="error-text-styles">Passwords do not match.</small>
      </div>

      <button type="submit" class="signup-button">Sign up</button>
      <div id="signup-help">Already an user? <a routerLink="/">Sign in</a></div>
    </form>
  </div>
</div>
