<div class="sign-up-card">
  <h2 class="welcome-heading">Welcome to Ambato</h2>
  <div class="card">
    <div class="card-header">
      <h2>Sign up</h2>
    </div>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
      <ng-container *ngFor="let field of formFields">
        <div class="flex-column">
          <label [for]="field.id" class="form-label">{{ field.label }}</label>
          <input
            [type]="field.type"
            [id]="field.id"
            [formControlName]="field.name"
          />
          <div
            *ngIf="
              signupForm.get(field.name)?.invalid &&
              signupForm.get(field.name)?.touched
            "
          >
            <ng-container *ngIf="signupForm.get(field.name)?.errors">
              <small *ngIf="signupForm.get(field.name)?.errors?.['required']">{{
                field.requiredMessage
              }}</small>
              <ng-container
                *ngIf="field.name === 'email' && signupForm.get('email')?.errors?.['email']"
              >
                <small>Invalid email format.</small>
              </ng-container>
              <ng-container
                *ngIf="field.name === 'password' && signupForm.get('password')?.errors?.['passwordStrength']"
              >
                <small
                  >Password must contain uppercase, lowercase, number, special
                  character, and at least 8 characters.</small
                >
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>

      <div
        *ngIf="signupForm.errors?.['passwordsMismatch'] && (signupForm.get('confirmPassword')?.touched || signupForm.get('password')?.touched)"
      >
        <small>Passwords do not match.</small>
      </div>

      <button type="submit" class="signup-button">Sign up</button>
      <div id="signup-help">Already a user? <a routerLink="/">Sign in</a></div>
    </form>
  </div>
</div>
