.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 700;
    font-size: 2rem;
    color: red;
}

// .home-page-link {
//     align-self: ;
// }